.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 10%;
  position: relative; /* Necesario para posicionar el botón absolute */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logoImg {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.nav {
  ul {
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    background-color: rgb(66, 65, 65);
    padding: 1rem 0;
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    z-index: 10; /* Asegurar que esté por encima de otros elementos */
  }

  &.open {
    ul {
      display: flex; /* Mostrar el menú cuando la clase 'open' está presente */
    }
  }
}

.mobileMenuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-left: 1rem;
  position: absolute;
  top: 2rem;
  right: 10%;
  z-index: 11;

  .dehazeIcon {
    color: #ddd6cb;
  }

  @media (min-width: 1000px) {
    display: none;
  }
}

.line {
  width: 2rem;
  height: 0.2rem;
  background: #ddd6cb;
}

@media (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
  .nav {
    ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      gap: 1.5rem;
      align-items: center;
      font-size: 1.25rem;
      width: auto;
      background-color: transparent;
      position: static;
      top: auto;
      left: auto;
      z-index: auto;
    }
  }
}
